div{
    border:1px solid red;
    background: #741212;
    padding: 12px;    
}
p{
    text-align: center;
    margin-top: 30px;
}
h2{
    text-align: center ;
    border: 3px solid;
    background: red;
    margin-left:  420px;
    margin-right: 420px;   
}
div.riobranco{

    background-image: url(riobranco.png);
    height:600px;
    background-repeat: no-repeat;
    border-radius: 50px 0px 0px 0px;
    background-position: left;
    background-size: 150px;
    border: 3px solid black;
    text-align:right;
    background-color: blueviolet;    
}
div.maceio{
    background-image: url(maceio.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    border: 3px dashed blue;
    border-radius: 0px 50px 0px 0px;
    background-color: blueviolet;
}
div.macapa{
    background-image: url(macapa.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid red;
    border-radius: 0px 0px 50px 0px;
    background-color: blueviolet;
}
div.manaus{
    background-image: url(manaus.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid green;
    border-radius: 50px 0px 0px 50px;
    background-color: blueviolet;
}
div.salvador{
    background-image: url(salvador.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    border: 3px solid blue;
    border-radius: 50px 0px 0px 0px;
    background-color: blueviolet;
}
div.fortaleza{
    background-image: url(fortaleza.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    border: 3px solid yellow;
    border-radius: 0px 50px 0px 0px;
    background-color: blueviolet;
}
div.vitoria{
    background-image: url(vitoria.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid yellowgreen;
    border-radius: 0px 0px 0px 50px;
    background-color: blueviolet;
}
div.goiania{
    background-image: url(goiania.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px dashed cyan;
    border-radius: 50px 0px 0px 0px;
    background-color: blueviolet;
}
div.saoluis{
    background-image: url(saoluis.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100px;
    border: 3px solid pink;
    border-radius: 0px 50px 0px 0px;
    background-color: blueviolet;
}
div.cuiaba{
    background-image: url(cuiaba.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid purple;
    border-radius: 0px 0px 50px 0px;
    background-color: blueviolet;
}
div.campogrande{
    background-image: url(campogrande.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid #741212;
    border-radius: 0px 0px 0px 50px;
    background-color: blueviolet;
}
div.belohorizonte{
    background-image: url(belohorizonte.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid rgb(23, 122, 36);
    border-radius: 50px 0px 0px 0px;
    background-color: blueviolet;
}
div.belem{
    background-image: url(belem.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid rgb(126, 16, 102);
    border-radius: 0px 50px 0px 0px;
    background-color: blueviolet;
}
div.joaopessoa{
    background-image: url(joaopessoa.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid rgb(63, 88, 57);
    border-radius: 0px 0px 50px 0px;
    background-color: blueviolet;
}
div.curitiba{
    background-image: url(curitiba.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid rgb(38, 54, 124);
    border-radius: 0px 0px 0px 50px;
    background-color: blueviolet;
}
div.recife{
    background-image: url(recife.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px dashed rgb(112, 125, 134);
    border-radius: 50px 0px 0px 0px;
    background-color: blueviolet;
}
div.teresina{
    background-image: url(teresina.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid rgb(32, 4, 29);
    border-radius: 0px 50px 0px 0px;
    background-color: blueviolet;
}
div.riodejaneiro{
    background-image: url(riodejaneiro.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    border: 3px dashed rgb(182, 83, 83);
    border-radius: 0px 0px 50px 0px;
    background-color: blueviolet;
}
div.natal{
    background-image: url(natal.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    border: 3px solid rgb(76, 182, 94);
    border-radius: 0px 0px 0px 50px;
    background-color: blueviolet;
}
div.portoalegre{
    background-image: url(portoalegre.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid rgb(90, 40, 40);
    border-radius: 50px 0px 0px 0px;
    background-color: blueviolet;
}
div.portovelho{
    background-image: url(portovelho.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    border: 3px solid rgb(45, 104, 192);
    border-radius: 0px 50px 0px 0px;
    background-color: blueviolet;
}
div.boavista{
    background-image: url(boavista.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid rgb(112, 46, 55);
    border-radius: 0px 0px 0px 50px;
    background-color: blueviolet;
}
div.florianopolis{
    background-image: url(florianopolis.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    border: 3px dashed rgb(94, 166, 172);
    border-radius: 50px 0px 0px 0px;
    background-color: blueviolet;
}
div.saopaulo{
    background-image: url(saopaulo.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    border: 3px solid rgb(115, 84, 155);
    border-radius: 0px 50px 0px 0px;
    background-color: blueviolet;
}
div.aracaju{
    background-image: url(aracaju.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
    border: 3px solid rgb(105, 199, 144);
    border-radius: 0px 0px 50px 0px;
    background-color: blueviolet;
}
div.palmas{
    background-image: url(palmas.png);
    height:600px;
    height:600px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
    border: 3px dashed rgb(207, 51, 147);
    border-radius: 0px 0px 0px 50px;
    background-color: blueviolet;
}