div{
    border:1px solid red;
    background: #741212;
     
}
h1{
    text-align: center;
    
}
p {
    text-align: center center;
    font-size: 10px;
    padding:60px 60px 0px 80px;
}
h2{
    text-align: center;
    border: 1px solid black;
    margin:30px 100px 0px 100px;
    font-size: 10px;
    
}
div.riobranco{

    background-image: url(riobranco.png);
    border: 2px dotted black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    border-radius: 50px 0px 0px 0px;
    background-color: red;
    background-position: left;   
    margin:5px;
}
div.maceio{
    background-image: url(maceio.png);    
    height: 250px;
    width: 400px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left;
    border: 3px dashed blue;
    background-color: green;
    margin:5px;
}
div.macapa{
    background-image: url(macapa.png);
    height: 250px;
    width: 400px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left;
    border: 3px solid red;
    border-radius: 0px 50px 0px 0px;
    background-color: blue;
    margin:5px;
}
div.manaus{
    background-image: url(manaus.png);
    height: 250px;
    width: 400px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left;
    border: 3px double green;
    background-color: red;
    padding-top: 8px;
    margin:5px;
}
div.salvador{
    background-image: url(salvador.png);
    height: 250px;
    width: 400px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left;
    background-color: green;
    border: 3px groove black;
    padding-bottom: 10px;
    margin:5px;
}
div.fortaleza{
    background-image: url(fortaleza.png);
    border: 2px solid black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: aqua;
    background-position: left;
    border: 3px ridge yellow;
    background-color: blue;
    padding-top: 10px;
    margin:5px;
}
div.vitoria{
    background-image: url(vitoria.png);
    border: 2px solid black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left;
    border-radius: 0px 0px 0px 50px;
    background-color: red;
    border: 3px inset black;
    margin:5px;
}
div.goiania{
    background-image: url(goiania.png);

    border: 2px solid black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: aqua;
    background-position: left;
    background-color: green;
    margin:5px;
}
div.saoluis{
    background-image: url(saoluis.png);
    border: 2px dashed black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left;
    border-radius: 0px 0px 50px 0px;
    background-color: blue;
    margin:5px;
}
div.cuiaba{
    background-image: url(cuiaba.png);
    border: 2px inset black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    border-radius: 50px 0px 0px 0px;
    background-color: red;
    background-position: left;
    margin:5px;
}
div.campogrande{
    background-image: url(campogrande.png);
    border: 2px dotted black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: green;
    background-position: left;
    margin:5px;
}
div.belohorizonte{
    background-image: url(belohorizonte.png);
    border: 2px double black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    border-radius: 0px 50px 0px 0px;
    background-color: blue;
    background-position: left;
    margin:5px;
}
div.belem{
    background-image: url(belem.png);
    border: 2px ridge black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: red;
    background-position: left;
    margin:5px;
}
div.joaopessoa{
    background-image: url(joaopessoa.png);
    border: 2px groove black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: green;
    background-position: left;
    margin:5px;
}
div.curitiba{
    background-image: url(curitiba.png);
    border: 2px solid black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: blue;
    background-position: left;
    margin:5px;
}
div.recife{
    background-image: url(recife.png);
    border: 2px outset black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: aqua;
    background-position: left;
    border-radius: 0px 0px 0px 50px;
    background-color: red;
    margin:5px;
}
div.teresina{
    background-image: url(teresina.png);
    border: 2px dotted black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left;
    background-color: green;
    margin:5px;
}
div.riodejaneiro{
    background-image: url(riodejaneiro.png);
    border: 2px double black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    border-radius: 0px 0px 50px 0px;
    background-color: blue;
    background-position: left;
    margin:5px;
}
div.natal{
    background-image: url(natal.png);
    border: 2px solid black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    border-radius: 50px 0px 0px 0px;
    background-color: red;
    background-position: left;
    margin:5px;
}
div.portoalegre{
    background-image: url(portoalegre.png);
    border: 2px dotted black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: green;
    background-position: left;
    margin:5px;
}
div.portovelho{
    background-image: url(portovelho.png);
    border: 2px outset black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    border-radius: 0px 50px 0px 0px;
    background-color: blue;
    background-position: left;
    margin:5px;
}
div.boavista{
    background-image: url(boavista.png);
    border: 2px double black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: red;
    background-position: left;
    margin: 5px;
}
div.florianopolis{
    background-image: url(florianopolis.png);
    border: 2px dotted black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: green;
    background-position: left;
    margin: 5px;
}
div.saopaulo{
    background-image: url(saopaulo.png);
    border: 2px groove black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: blue;
    background-position: left;
    margin: 5px;
}
div.aracaju{
    background-image: url(aracaju.png);
    border: 2px ridge black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: red;
    border-radius: 50px 0px 0px 0px;
    background-position: left;
    margin: 5px;
}
div.palmas{
    background-image: url(palmas.png);
    border: 2px solid black;
    height: 250px;
    width: 400px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 60px;
    background-color: green;
    background-position: left;
    margin: 5px;
}